@page 
@model Finance.Pages.FinanceCrudPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.User.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Finance.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
