@page
@model Finance.Pages.FinanceCrudPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finance.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finance.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Finance.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
